/* Estilos para el menú de navegación */
.navbar {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-item {
    position: relative;
  }
  
  .navbar-nav .nav-item .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.25rem;
  }
  
  .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover,
  .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
  }
  
  .navbar-nav .nav-item:hover > .dropdown-menu {
    display: block;
  }
  
  @media (max-width: 991.98px) {
    .navbar-nav .nav-item .dropdown-menu {
    position: static;
    display: none;
    float: none;
    background-color: #fff;
    }
    
    .navbar-nav .nav-item .dropdown-menu.show {
    display: block;
    width: 100%;
    margin-top: 0;
    border: 0;
    box-shadow: none;
    }
    
    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
    }
    
    .navbar-nav .nav-item .dropdown-menu .dropdown-divider {
    display: none;
    }
    }